<main>
  <section class="container mt-3">
    <div class="shadow p-5">
      <h2>{{ tipo }} Usuario</h2>
      <form [formGroup]="usuarioForm" (ngSubmit)="getDataForm()">
        <div class="my-3">
          <label class="form-label" for="nombre">Nombre</label>
          <input
            class="form-control"
            type="text"
            id="nombre"
            formControlName="nombre"
            placeholder="Ingese el nombre"
          />
        </div>
        <div class="my-3">
          <label class="form-label" for="apellido">Apellidos</label>
          <input
            class="form-control"
            type="text"
            id="apellido"
            formControlName="apellido"
            placeholder="Ingese apellidos"
          />
        </div>
        <div class="my-3">
          <label class="form-label" for="telefono">Ci:</label>
          <input
            class="form-control"
            type="text"
            id="ci"
            formControlName="ci"
            placeholder="Ingese la cedula"
          />
        </div>
        <div class="my-3">
          <label class="form-label" for="email">Usuario:</label>
          <input
            class="form-control"
            type="text"
            id="usuario"
            formControlName="usuario"
            placeholder="Ingese el usuario"
          />
        </div>
        <div class="my-3">
          <label class="form-label" for="salario">Password</label>
          <input
            class="form-control"
            type="password"
            id="password"
            formControlName="password"
            placeholder="Ingrese el password"
          />
        </div>

        <div class="my-3">
          <label class="form-label" for="fecha_nac">Fecha de nacimiento</label>
          <input
            class="form-control"
            type="date"
            id="fecha_nac"
            formControlName="fecha_nac"
            placeholder="Ingese el fecha nacimiento"
          />
        </div>

        <div class="my-3">
          <label class="form-label" for="fecha_cont"
            >Fecha de contratacion</label
          >
          <input
            class="form-control"
            type="date"
            id="fecha_cont"
            formControlName="fecha_cont"
            placeholder="Ingese fecha contratacion"
          />
        </div>

        <div class="my-3">
          <label class="form-label">Género</label>
          <div class="d-flex justify-content-around">
            <label>
              <input
                type="radio"
                id="generoM"
                formControlName="genero"
                value="M"
              />
              Masculino
            </label>
            <label class="ms-3">
              <input
                type="radio"
                id="generoF"
                formControlName="genero"
                value="F"
              />
              Femenino
            </label>
          </div>
        </div>

        <hr />

        <div class="d-flex justify-content-around">
          @for (rol of ['Administrador', 'Bodega', 'Noc']; track $index) {
          <div>
            @for (item of arrfunciones; track $index) { @if
            (item.nombre.startsWith(rol[0])) {
            <p>
              {{ item.nombre.slice(1) }}
              <input
                (change)="addStatus({ funcion: item.id }, $event)"
                type="checkbox"
                formControlName="rol"
              />
            </p>
            } }
          </div>
          }
        </div>

        <!-- BUTONS ///////////////////////// -->
        <hr />
        <div class="d-flex justify-content-around">
          <input type="submit" [value]="tipo" class="btn btn-danger" />
          <input
            type="button"
            value="Cancelar "
            class="btn btn-danger"
            [routerLink]="['/home', 'administrador', 'usuarios']"
          />
        </div>
      </form>
      @for(error of errorForm ;track $index ){
      <p class="text-danger">{{ error.field }}: {{ error.message }}</p>
      }
    </div>
  </section>
</main>
