<section class="container mt-3">
  <h3>{{ employee?.nombre }} {{ employee?.apellido }}</h3>
  <hr />

  <h4><strong> Usuario: </strong> {{ employee?.usuario }}</h4>
  <h4><strong> Ci: </strong> {{ employee?.ci }}</h4>
  <h4>
    <strong> Fecha de nacimiento: </strong>
    {{ employee?.fecha_nac | date : "EEEE dd MMMM YYYY " }}
  </h4>
  <h4>
    <strong> Fecha de contrato: </strong>
    {{ employee?.fecha_cont | date : "EEEE dd MMMM YYYY " }}
  </h4>
  <h4><strong> Genero: </strong> {{ employee?.genero }}</h4>

  <table class="table border border-1">
    <thead>
      <tr>
        <!-- Encabezados basados en los roles -->
        @for (rol of ['Administrador', 'Bodega', 'Noc', 'Clientes',
        'Técnico','Recuperacion']; track $index) {
        <th>{{ rol }}</th>
        }
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Iteración de roles -->
        @for (rol of ['Administrador', 'Bodega', 'Noc', 'Clientes',
        'Técnico','Recuperacion']; track $index) {
        <td>
          <!-- Iteración de funcionalidades -->
          @for (funcion of arrfunciones; track $index) {
          <!-- Mostrar funcionalidades que comiencen con la inicial del rol -->
          @if (funcion.funcion.startsWith(rol[0])) {
          <p>
            {{ funcion.funcion.slice(1) }}
          </p>
          } }
        </td>
        }
      </tr>
    </tbody>
  </table>

  <!-- <h4><strong> Rol: </strong> {{ employee?.rol }}</h4> -->
  <input
    type="submit"
    value="Volver "
    class="btn btn-danger"
    [routerLink]="['/home', 'administrador', 'usuarios']"
  />
</section>
