@if (isReady) {
<div class="fade-in">
  <main class="container mt-4">
    <form
      [formGroup]="TrasladoForm"
      (ngSubmit)="submitForm()"
      class="shadow p-4 bg-white rounded"
    >
      <h4 class="mb-3">Traslado Externo</h4>

      <div class="mb-3">
        <label>Orden de instalación</label>
        <input type="text" formControlName="ord_ins" class="form-control" />
        <p *ngIf="checkError('ord_ins', 'required')" class="text-danger">
          Requerido
        </p>
        <p *ngIf="checkError('ord_ins', 'pattern')" class="text-danger">
          Solo números
        </p>
      </div>

      <div class="mb-3">
        <label>Teléfonos</label>
        <input type="tel" formControlName="telefonos" class="form-control" />
        <p *ngIf="checkError('telefonos', 'required')" class="text-danger">
          Requerido
        </p>
      </div>

      <div class="mb-3">
        <label>Nuevas Coordenadas</label>
        <input
          type="text"
          formControlName="coordenadas"
          class="form-control"
          placeholder="-0.12345,-78.56789"
        />
        <p *ngIf="checkError('coordenadas', 'required')" class="text-danger">
          Requerido
        </p>
        <p *ngIf="checkError('coordenadas', 'pattern')" class="text-danger">
          Formato: lat,lng
        </p>
      </div>

      <div class="mb-3">
        <label>Observación</label>
        <input
          type="text"
          formControlName="observacion"
          class="form-control"
          (input)="convertToUppercase('observacion')"
        />
        <p *ngIf="checkError('observacion', 'required')" class="text-danger">
          Requerido
        </p>
      </div>

      <div class="text-center">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!TrasladoForm.valid"
        >
          Guardar Traslado
        </button>
      </div>
    </form>
  </main>
</div>
}
