<form class="" #filterForm="ngForm" (ngSubmit)="selectFilter(filterForm.value)">
  <div>
    <h6>Filtro:</h6>
    <div class="gap-1">
      <h6>Tipo de enlace:</h6>
      <div class="d-flex justify-content-between gap-1">
        <label>
          <input
            type="radio"
            name="tipoenlace"
            value="todos"
            ngModel
            (change)="selectFilter(filterForm.value)"
            checked
          />

          Todos
        </label>
        <br />
        <label>
          <input
            type="radio"
            name="tipoenlace"
            value="fo"
            ngModel
            (change)="selectFilter(filterForm.value)"
          />
          Fibra Optica
        </label>
        <br />
        <label>
          <input
            type="radio"
            name="re"
            value="experiencia"
            ngModel
            (change)="selectFilter(filterForm.value)"
          />
          Radio Enlace
        </label>
      </div>
    </div>
  </div>
</form>
