<section class="mapa-container">
  @if (!isReady) {
  <div class="loading-overlay">
    <div class="spinner"></div>
    <p>Cargando mapa…</p>
  </div>
  } @else { @if (isGoogleMapsLoaded) {

  <google-map
    width="100%"
    height="100%"
    [zoom]="zoom()"
    [center]="myposition()"
    [options]="{
      mapTypeId: 'satellite',
      streetViewControl: false,
      mapTypeControl: false,
      fullscreenControl: false
    }"
    (mapClick)="onMapClickHandler($event)"
    (mapIdle)="onMapIdle()"
  >
    <!-- Marcadores de cajas -->
    @for (m of markers; track m.id) {
    <map-marker
      [position]="m.position"
      [title]="m.title"
      [options]="m.options"
    ></map-marker>
    }

    <!-- Pin temporal elegido -->
    @if (selectedLatLng) {
    <map-marker
      [position]="selectedLatLng"
      [title]="'Ubicación seleccionada'"
    ></map-marker>
    }
  </google-map>

  } @else {
  <div class="loading-overlay">
    <div class="spinner"></div>
    <p>Cargando Google Maps…</p>
  </div>
  } }
</section>
