<main>
  <section
    class="wrapper d-flex justify-content-center login-wrapper bg-body flex-column p-3 align-items-center"
  >
    <div>
      <img class="img-fluid logo" src="./img/logoredecom.png" alt="logo" />
      <h1>
        <p class="fw-light text-center mt-4">
          <span class="fw-bold">¡bienvenido!</span>
        </p>
        <p class="fw-light text-center">Inicia Sesion</p>
      </h1>
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="my-2 fw-light">
          <input
            class="form-control"
            formControlName="usuario"
            type="text"
            id="usuario"
            name="usuario"
            placeholder="Tu usuario"
          />
        </div>
        <div class="my-2 fw-light">
          <input
            class="form-control"
            formControlName="password"
            type="password"
            id="password"
            name="password"
            autocomplete="on"
            placeholder="Tu contraseña"
          />
        </div>
        <div class="mt-4 mb-3 fw-semibold">
          <input class="button-primary" type="submit" value="Ingresar" />
        </div>
      </form>
    </div>

    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </section>
</main>
