<main>
  <!-- Datos generales -->
  <section
    class="container m-3 border border-1 border-black datos_generales shadow"
  >
    <h4>Datos Generales</h4>
    <!-- Campo de búsqueda por nombre -->

    <div class="mb-3 d-flex gap-2 align-items-center">
      <label for="cliente-input" style="min-width: 100px">Nombre</label>
      <input
        id="cliente-input"
        type="text"
        class="form-control"
        [(ngModel)]="busqueda"
        (input)="actualizarSugerencias()"
        (change)="buscarClienteSeleccionado()"
        placeholder="Ingrese el nombre del cliente"
        style="width: 100%; max-width: 500px"
      />
    </div>

    <!-- Lista personalizada de sugerencias -->
    <div *ngIf="nombresFiltrados.length > 0" class="sugerencias">
      <div
        *ngFor="let nombre of nombresFiltrados"
        (click)="seleccionarNombre(nombre)"
        [ngClass]="{ selected: nombre === busqueda }"
        class="sugerencia-item"
      >
        {{ nombre }}
      </div>
    </div>

    <!-- Campo de búsqueda por cédula (sin sugerencias) -->
    <div class="mb-3 d-flex gap-2 align-items-center">
      <label for="cliente-cedula-input" style="min-width: 100px">Cédula</label>
      <input
        id="cliente-cedula-input"
        type="text"
        class="form-control"
        [(ngModel)]="busquedaCedula"
        (change)="buscarClientePorCedula()"
        placeholder="Ingrese la cédula del cliente"
        style="width: 100%; max-width: 500px"
      />
    </div>
  </section>

  <!-- Mostrar la información de los servicios del cliente seleccionado -->
  <section
    class="container"
    *ngIf="clienteSeleccionado && clienteSeleccionado.servicios?.length"
  >
    <table border="2" class="table tabla-servicios">
      <thead>
        <tr class="custom-header">
          <th></th>
          <th>Orden</th>
          <th>Dirección</th>
          <th>Referencia</th>
          <th>Plan Contratado</th>
          <th>Precio</th>
          <th>Pago</th>
          <th>Cortado</th>
          <th>Servicio</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let servicio of clienteSeleccionado.servicios"
          [ngClass]="{ 'selected-row': servicio === servicioSeleccionado }"
        >
          <td class="align-items-center text-center">
            <input
              type="radio"
              name="servicioSeleccionado"
              [value]="servicio"
              [(ngModel)]="servicioSeleccionado"
            />
          </td>
          <td class="text-nowrap">{{ servicio.orden_instalacion }}</td>
          <td>{{ servicio.direccion }}</td>
          <td>{{ servicio.referencia }}</td>
          <td class="text-nowrap">{{ servicio.plan_nombre }}</td>
          <td class="text-nowrap">{{ servicio.precio }}</td>
          <td class="text-nowrap">{{ servicio.estado }}</td>
          <td class="text-nowrap">{{ servicio.cortado }}</td>
          <td class="text-nowrap">{{ servicio.servicio }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Mostrar información del servicio seleccionado -->
  <section class="container mt-3 shadow" *ngIf="servicioSeleccionado">
    <table class="table tabla-informacion">
      <tbody>
        <tr>
          <td>Modalidad</td>
          <td>
            {{ servicioSeleccionado.tipo }}
          </td>
        </tr>

        <tr>
          <td>Tipo de instalacion</td>
          <td>
            {{ servicioSeleccionado.tipo_instalacion }}
          </td>
        </tr>
        <tr>
          <td>Estado de la instalacion</td>
          <td>
            {{ servicioSeleccionado.estado_instalacion }}
          </td>
        </tr>
        <tr>
          <td>Coordenadas</td>
          <td>
            <a
              [href]="
                'https://www.google.com/maps/search/' +
                servicioSeleccionado.coordenadas
              "
              style="color: red"
              target="_blank"
            >
              {{ servicioSeleccionado.coordenadas }}
            </a>
          </td>
        </tr>
        <tr>
          <td>Fecha Instalación</td>
          <td>
            {{
              servicioSeleccionado.fecha_instalacion
                | date : "EEEE dd MMMM YYYY "
            }}
          </td>
        </tr>
        <tr>
          <td>Tecnico Instalador</td>
          <td>
            {{ servicioSeleccionado.instalado_por }}
          </td>
        </tr>
        <tr>
          <td>Telefonos</td>
          <td>
            {{ servicioSeleccionado.telefonos }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
