<section class="container">
  <!-- Selección de Técnico -->

  <h3>ASIGNAR ORDEN</h3>
  <hr />

  <form #filterForm2="ngForm">
    <div class="d-flex mb-1">
      <select
        class="form-select"
        name="course_id"
        ngModel
        (change)="selectTecnico(filterForm2.value)"
      >
        <option value="" selected>Seleccione Un Técnico</option>
        <!-- Carga del listado de técnicos -->
        @for(item of tecnicosList; track item.id) {
        <option [value]="item.id">{{ item.nombre }} {{ item.apellido }}</option>
        }
      </select>
    </div>
  </form>

  <!-- Selección de Orden de Trabajo -->
  <form #filterForm1="ngForm">
    <div class="d-flex gap-3 mb-4">
      <select
        class="form-select"
        name="course_id"
        ngModel
        (change)="selectTrabajo(filterForm1.value)"
      >
        <option value="" selected>Seleccione una orden de trabajo</option>
        <!-- Carga del listado de trabajos -->
        @for(item of trabajoList; track $index) {
        <option [value]="item.id">{{ item.trabajo }}</option>
        }
      </select>
    </div>
  </form>
</section>
<section class="container mt-3" *ngIf="soportesTecnicosList.length > 0">
  <table border="2" class="table">
    <thead>
      <tr class="custom-header">
        <th></th>
        <th>Orden</th>
        <th>Dirección</th>
        <th>Observacion</th>
        <th>Estado</th>

        <th>TECNICO</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let soporte of soportesTecnicosList"
        [ngClass]="{ 'selected-row': soporte === servicioSeleccionado }"
      >
        <td class="align-items-center text-center">
          <input
            type="radio"
            name="servicioSeleccionado"
            [value]="soporte"
            [(ngModel)]="servicioSeleccionado"
          />
        </td>
        <td>{{ soporte.ord_ins }}</td>
        <td>{{ soporte.reg_sop_nombre }}</td>
        <td>{{ soporte.reg_sop_observaciones }}</td>
        <td>{{ soporte.reg_sop_estado }}</td>
        <td>{{ soporte.nombre_tecnico }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex flex-column flex-wrap justify-content-center">
    <button
      (click)="guardarSolucion()"
      class="btn btn-danger"
      [routerLink]="['/home', 'noc', 'soporte-tecnico']"
    >
      Guardar
    </button>
  </div>
</section>
