<!-- Overlay local del componente -->
@if (!isReady) {
<div class="skeleton-title"></div>
<div class="skeleton-block"></div>
} @else {
<div class="fade-in">
  <!-- ======= TU CONTENIDO ORIGINAL (SIN CAMBIOS) ======= -->
  <main>
    <section class="container mt-3">
      <div class="shadow p-5">
        <h2>{{ tipo }} Usuario</h2>
        <form [formGroup]="usuarioForm" (ngSubmit)="getDataForm()">
          <!-- VALIDADOR NOMBRE -->
          <div class="my-3">
            <label class="form-label" for="nombre">Nombres</label>
            <input
              class="form-control"
              type="text"
              id="nombre"
              formControlName="nombre"
              placeholder="INGRESE LOS NOMBRES"
              style="text-transform: uppercase"
              (input)="convertToUppercase('nombre')"
            />
            @if(checkControl('nombre','required')){
            <p class="error">El campo es requerido</p>
            } @if( checkControl('nombre','minlength')){
            <p class="error">minimo 3 caracteres requerido</p>
            }
          </div>
          <!-- VALIDADOR APELLIDOS -->
          <div class="my-3">
            <label class="form-label" for="apellidos">Apellidos</label>
            <input
              class="form-control"
              type="text"
              id="apellido"
              formControlName="apellido"
              placeholder="INGRESE LOS APELLIDOS"
              style="text-transform: uppercase"
              (input)="convertToUppercase('apellido')"
            />
            @if(checkControl('apellido','required')){
            <p class="error">El campo es requerido</p>
            } @if( checkControl('apellido','minlength')){
            <p class="error">minimo 3 caracteres requerido</p>
            }
          </div>
          <!-- VALIDADOR CI -->
          <div class="my-3">
            <label class="form-label" for="telefono">Ci:</label>
            <input
              class="form-control"
              type="text"
              id="ci"
              formControlName="ci"
              placeholder="INGRESE LA CÉDULA"
            />
            @if(checkControl('ci','required')){
            <p class="error">El campo es requerido</p>
            } @if( checkControl('ci','civalidator')){
            <p class="error">
              {{usuarioForm.get('ci')?.errors?.['civalidator']}}
            </p>
            }
          </div>
          <!-- VALIDADOR USUARIO -->
          <div class="my-3">
            <label class="form-label" for="email">Usuario:</label>
            <input
              class="form-control"
              type="text"
              id="usuario"
              formControlName="usuario"
              placeholder="INGRESE EL USUARIO"
            />
            @if(checkControl('usuario','required')){
            <p class="error">El campo es requerido</p>
            } @if( checkControl('usuario','minlength')){
            <p class="error">minimo 3 caracteres requerido</p>
            }
          </div>
          <!-- VALIDADOR PASSWORD -->
          <div class="my-3">
            <label class="form-label" for="salario">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              formControlName="password"
              placeholder="INGRESE EL PASSWORD"
            />
            @if(checkControl('password','required')){
            <p class="error">El campo es requerido</p>
            } @if( checkControl('password','minlength')){
            <p class="error">minimo 6 caracteres requerido</p>
            }
          </div>

          <div class="my-3">
            <label class="form-label" for="fecha_nac"
              >Fecha de nacimiento</label
            >
            <input
              class="form-control"
              type="date"
              id="fecha_nac"
              formControlName="fecha_nac"
              placeholder="Ingese el fecha nacimiento"
            />
            @if(checkControl('fecha_nac','required')){
            <p class="error">El campo es requerido</p>
            }
          </div>

          <div class="my-3">
            <label class="form-label" for="fecha_cont"
              >Fecha de contratacion</label
            >
            <input
              class="form-control"
              type="date"
              id="fecha_cont"
              formControlName="fecha_cont"
              placeholder="Ingese fecha contratacion"
            />
            @if(checkControl('fecha_cont','required')){
            <p class="error">El campo es requerido</p>
            }
          </div>

          <div class="my-3">
            <label class="form-label">Género</label>
            <div class="d-flex justify-content-around">
              <label>
                <input
                  type="radio"
                  id="generoM"
                  formControlName="genero"
                  value="M"
                  name="genero"
                />
                Masculino
              </label>
              <label class="ms-3">
                <input
                  type="radio"
                  id="generoF"
                  formControlName="genero"
                  value="F"
                  name="genero"
                />
                Femenino
              </label>
            </div>
          </div>
          <!----------------------- TABLA FUNCIONES ------------------------------>
          <table class="table border border-1">
            <thead>
              <tr>
                <!-- Encabezados basados en los roles -->
                @for (rol of ['Administrador', 'Bodega', 'Noc', 'Clientes',
                'Técnico','Recuperacion Cartera']; track $index) {
                <th>{{ rol }}</th>
                }
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- Iteración de roles -->
                @for (rol of ['Administrador', 'Bodega', 'Noc', 'Clientes',
                'Técnico','Recuperacion Cartera']; track $index) {
                <td>
                  <!-- Iteración de funcionalidades -->
                  @for (funcion of arrfunciones; track $index) {
                  <!-- Mostrar funcionalidades que comiencen con la inicial del rol -->
                  @if (funcion.nombre.startsWith(rol[0])) {
                  <p>
                    {{ funcion.nombre.slice(1) }}
                    <input
                      type="checkbox"
                      [checked]="selectedIds.includes(funcion.id)"
                      (change)="onToggleRol(funcion.id, $event)"
                    />
                  </p>
                  } }
                </td>
                }
              </tr>
            </tbody>
          </table>

          <!-- BUTONS ///////////////////////// -->

          <div class="d-flex justify-content-around">
            <input
              type="submit"
              [value]="tipo"
              class="btn btn-danger"
              [disabled]="!usuarioForm.valid"
            />
            <input
              type="button"
              value="Cancelar "
              class="btn btn-danger"
              [routerLink]="['/home', 'administrador', 'usuarios']"
            />
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
}
