:root {
  --color-barra-lateral: rgb(255, 255, 255);
  --color-texto: rgb(0, 0, 0);
  --color-texto-menu: rgb(134: 136: 144);
  --color-boton: rgb(0, 0, 0);
  --color-boton-texto: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  padding: 0px 10px;
  background-color: var(--color-barra-lateral);
  transition: left 0.5s ease;
}

/* En pantallas pequeñas */
@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: -250px; /* 🔒 Oculto por defecto */
    height: auto;
    overflow-y: auto;
  }

  .mostrar-sidebar {
    left: 0; /* ✅ Mostrar si clase activa */
  }

  .menu {
    display: flex;
  }
}

.logo {
  max-width: 40vw;
  height: 40px;
  cursor: pointer;
}

.div2 {
  /* display: grid;*/
  overflow-y: auto;
}

/*lista de opciones*/

.buton-bottom {
  margin-top: auto; /* Empuja el botón al fondo */
  bottom: 0px; /* Asegura que el botón se quede pegado al fondo */
  width: 100%; /* Ajusta el ancho para alinearlo con otros elementos */
}

/* MENU*/

.menu {
  color: #ce2929;
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 15px;
  top: 10px;
  display: none;
}

/*    movil  */
@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: -250px;
    height: auto;
    overflow-y: auto;
  }
  .mostrar-sidebar {
    left: 0;
  }
  .menu {
    display: flex;
  }
}

/* lista de opciones*/
ul {
  list-style-type: none;
  justify-content: center;

  li {
    margin-left: 10px;
    width: 80%;
    background-color: #cc2929;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: white;
  }
}
.logo {
  margin: 10px 10px;

  max-width: 40vw;
  height: 40px;
  cursor: pointer;
}
/*    movil  */
@media (max-width: 600px) {
  .logo {
    max-width: 60vw;
  }
}

.texto-amarillo {
  color: yellow;
  font-size: 17px;
  text-align: center;
  background-color: #ce2929;
  border-radius: 10px;
}

.badge-circle {
  display: inline-block;
  background-color: lightgreen;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-left: 8px;
}
