<!-- https://www.youtube.com/watch?v=nvh51c4UfmM -->

<div (click)="onClickMenu()" class="menu">
  @if(!isMenu){
  <i class="fa-solid fa-bars"></i>

  } @if(isMenu){
  <i class="fa-solid fa-xmark"></i>
  }
</div>

<div [class.mostrar-sidebar]="isMenu" class="sidebar">
  <img
    [routerLink]="['/home']"
    class="img-fluid logo"
    src="./img/logoredecom.png"
    alt="logo"
  />
  <div class="border-bottom border-3 pb-2"></div>

  <div class="div2">
    <p class="my-2 texto-amarillo">{{ data.nombre }}</p>

    <div class="accordion" id="accordionSidebar">
      <!-- BOTON ADMINISTRADOR -->
      @if (arrAdmin.length>0) {
      <button
        class="button-primary btn-toggle rounded my-2"
        (click)="toggleCollapse('home-collapse')"
      >
        <i class="fa-solid fa-gear"></i> Administrador
      </button>
      }
      <div class="accordion-collapse collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small gap-5">
          @if (arrAdmin.includes("AUsuarios")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/administrador/usuarios']"
          >
            Usuarios
          </li>
          } @if (arrAdmin.includes("AInformación Clientes")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/administrador/data-clientes']"
          >
            Información Clientes
          </li>
          }
        </ul>
      </div>

      <!-- BOTON BODEGA -->
      @if (arrBodega.length>0) {
      <button
        class="button-primary btn-toggle rounded my-2"
        (click)="toggleCollapse('bodega-collapse')"
      >
        <i class="fa-solid fa-box-open"></i> Bodega
      </button>
      }
      <div class="accordion-collapse collapse" id="bodega-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          @if (arrBodega.includes("BInventario")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/bodega/inventario']"
          >
            Inventario
          </li>
          } @if (arrBodega.includes("BIngresar Equipos")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/bodega/ingresar-equipos']"
          >
            Ingresar Equipos
          </li>
          } @if (arrBodega.includes("BDespachar Equipos")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/bodega/despachar-equipos']"
          >
            Despachar Equipos
          </li>
          } @if (arrBodega.includes("BAsignar Equipos")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/bodega/asignar-equipos']"
          >
            Asignar Equipos
          </li>
          } @if (arrBodega.includes("BMorosos")) {
          <li (click)="onClickMenu()" [routerLink]="['/home/bodega/morosos']">
            Morosos
          </li>
          }
        </ul>
      </div>

      <!-- BOTON CLIENTES -->
      @if (arrClientes.length>0) {
      <button
        class="button-primary btn-toggle rounded my-2"
        (click)="toggleCollapse('clientes-collapse')"
      >
        <i class="fa-solid fa-users"></i> Clientes
      </button>
      }
      <div class="accordion-collapse collapse" id="clientes-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          @if (arrClientes.includes("CDatos de Clientes")) {
          <li (click)="onClickMenu()" [routerLink]="['/home/clientes/datos']">
            Datos clientes
          </li>
          }
        </ul>
      </div>

      <!-- BOTON NOC -->
      @if (arrNoc.length>0) {
      <button
        class="button-primary btn-toggle rounded my-2"
        (click)="toggleCollapse('noc-collapse')"
      >
        <div class="d-flex justify-content-around">
          @if(preAgendaPendientesCount>0){
          <span class="badge-circle">
            {{ preAgendaPendientesCount }}
          </span>
          }
          <div>
            <i class="fa-solid fa-circle-nodes"></i>
            Noc
          </div>
          @if(soportesPendientesCount>0){
          <span class="badge-circle">
            {{ soportesPendientesCount }}
          </span>
          }
        </div>
      </button>
      }
      <div class="accordion-collapse collapse" id="noc-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          @if (arrNoc.includes("NAgenda")) {
          <li (click)="onClickMenu()" [routerLink]="['/home/noc/agenda']">
            Agenda @if(preAgendaPendientesCount>0){
            <span class="badge-circle">
              {{ preAgendaPendientesCount }}
            </span>
            }
          </li>
          } @if (arrNoc.includes("NSoporte Tecnico")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/noc/soporte-tecnico']"
          >
            Soporte Tecnico @if(soportesPendientesCount>0){
            <span class="badge-circle">
              {{ soportesPendientesCount }}
            </span>
            }
          </li>
          } @if (arrNoc.includes("NInforme Diario")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/noc/informediario']"
          >
            Informe diario
          </li>
          } @if (arrNoc.includes("NMapeo Cajas")) {
          <li (click)="onClickMenu()" [routerLink]="['/home/noc/mapeo-cajas']">
            Mapeo cajas
          </li>
          } @if (arrNoc.includes("NAsignar Trabajos")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/noc/asignar-trabajos']"
          >
            Asignar Trabajos
          </li>
          }
        </ul>
      </div>

      <!-- BOTON RECUPERACION -->
      @if (arrRecuperacion.length>0) {
      <button
        class="button-primary btn-toggle rounded my-2"
        (click)="toggleCollapse('recuperacion-collapse')"
      >
        <i class="fa-solid fa-rotate-left"></i> Recuperacion
      </button>
      }
      <div class="accordion-collapse collapse" id="recuperacion-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          @if (arrRecuperacion.includes("RMorosos")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/recuperacion/morosos']"
          >
            Morosos
          </li>
          } @if (arrRecuperacion.includes("RMapa Morosos")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/recuperacion/mapa-morosos']"
          >
            Mapa Morosos
          </li>
          } @if (arrRecuperacion.includes("RGestion")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/recuperacion/gestion-morosos']"
          >
            Gestion
          </li>
          }
        </ul>
      </div>

      <!-- BOTON TECNICO -->
      @if (arrTecnico.length>0) {
      <button
        class="button-primary btn-toggle rounded my-2"
        (click)="toggleCollapse('tecnico-collapse')"
      >
        <i class="fa-solid fa-screwdriver-wrench"></i> Tecnico
      </button>
      }
      <div class="accordion-collapse collapse" id="tecnico-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          @if (arrTecnico.includes("TMi Agenda")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/tecnico/mi-agenda-tec']"
          >
            Mi Agenda
          </li>
          } @if (arrTecnico.includes("TRegistro Soporte")) {
          <li
            (click)="onClickMenu()"
            [routerLink]="['/home/tecnico/registrosop']"
          >
            Registro Soporte
          </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- CERRA SESION -->
  <div class="buton-bottom">
    <hr />
    <button (click)="onClickLogout()" class="button-primary usuario my-2">
      <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion
    </button>
  </div>
</div>
