<!-- https://www.youtube.com/watch?v=nvh51c4UfmM -->
<div (click)="onClickMenu()" class="menu">
  @if(!isMenu){
  <i class="fa-solid fa-bars"></i>

  } @if(isMenu){
  <i class="fa-solid fa-xmark"></i>
  }
</div>

<div [class.mostrar-sidebar]="isMenu" class="sidebar">
  <div class="div2">
    <button (click)="onClickMenu()" class="button-primary my-2">
      <i class="fa-solid fa-gear"></i> Sistema
    </button>
    <button (click)="onClickMenu()" class="button-primary my-2">
      <i class="fa-solid fa-box-open"></i> Bodega
    </button>
    <button (click)="onClickMenu()" class="button-primary my-2">
      <i class="fa-solid fa-circle-nodes"></i> Noc
    </button>
    <button (click)="onClickMenu()" class="button-primary my-2">
      <i class="fa-solid fa-screwdriver-wrench"></i> Tecnico
    </button>
  </div>

  <div class="div3 buton-bottom">
    <hr />
    <button (click)="onClickMenu()" class="button-primary usuario my-2">
      <i class="fa-regular fa-user"></i> Usuario
    </button>
    <button (click)="onClickLogout()" class="button-primary usuario my-2">
      <i class="fa-solid fa-right-from-bracket"> </i> Cerrar Sesion
    </button>
  </div>
</div>
